<a href="/productos">Ir a la lista -></a>
<h1>Ingrese producto: </h1>
<form action="/productos" method="post">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre"><br><br>
  <label for="precio">Precio:</label>
  <input type="text" id="precio" name="precio"><br><br>
  <label for="img">Foto portada:</label>
  <input type="text" id="img" name="img"><br><br>
  <input type="submit" value="Enviar">
</form>
<br>