<a href="/"><- Ir a formulario</a>
<h2>Vista de Productos</h2>
{{#if productos.length }}
  <table>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Imagen portada</th>
    </tr>
    {{#each productos}}
      <tr>
        <td>{{nombre}}</td>
        <td>{{precio}}</td>
        <td><img src="{{img}}" alt=""></td>
      </tr>
    {{/each}}
  </table>
{{else}}
  <h3>No hay datos.</h3>
{{/if}}