body {
  color: white;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Neuton";
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/540/124/non_2x/colorful-vinyl-records-with-yellow-background-vector-illustration.jpg);
}

h1, h2{
  text-align: center;
}

