body {
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Neuton"; background-image: url(https://static.vecteezy.com/system/resources/previews/000/540/124/non_2x/colorful-vinyl-records-with-yellow-background-vector-illustration.jpg);
  }

  h1{
    font-family: "Neuton";
    margin-top: -280px;
    margin-left: 400px;
  }

  h2{
    font-family: "Neuton";
    margin-top: 100px;
    margin-left: 300px;
  }
